*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    display: grid;
    grid-template-areas: "header header header header"
                         "aside main main main"
                         "aside main main main"
                         "footer footer footer footer";
}
hr{     
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
/* HEADER */
header{
  grid-area: header;
  padding: 20px 0 0 0;
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
nav h1{
  font-size: 3em;
  text-transform: uppercase;
}
nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10vw;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul a{
  text-decoration: none;
}
nav ul a:hover{
  text-decoration: underline;
}
/* Responsive */
@media screen and (max-width: 600px) {
  nav{
    flex-direction: column;
  }
  nav ul{
    padding: 10px;
    margin: 0 auto;
  }
}
/* HEADER ANIMATION START */
@keyframes  deep-animation{
    0%{color: white;}
    10%{color: rgb(133, 133, 133);}
    20%{color: white;}
    30%{color: rgb(255, 255, 255);}
    40%{color: white}
    50%{color: white}
    60%{color: rgb(103, 103, 103)}
    70%{color: white}
    80%{color: white}
    90%{color: rgb(122, 122, 122)}
    100%{color: rgb(255, 255, 255)}

}
@keyframes analyser-animation {
    0%{color: rgb(0, 255, 0);}
    50%{color: red;}
    100%{color: rgb(132, 0, 255);}
}
.deep{
    animation-name: deep-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 2.9, 0,-1.63);
}
.analyser{
    animation-name: analyser-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-timing-function: linear;
}
/* HEADER ANIMATION END */
/* HEADER END */
/* ASIDE START*/
aside{
  grid-area: aside;
}
/* ASIDE END */
/* MAIN START */
main{
  grid-area: main;
}

@media screen and (max-width: 500px) {
 
}
/* MAIN END */
/* FOOTER START */
footer{
  grid-area: footer;
  text-align: center;
  margin-bottom: 30px;
}
  /* FOOTER ANIMATION START*/
  footer img{
    height: 115px;
    animation-name: footer-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
  }
  @keyframes footer-animation {
    0%{ filter: hue-rotate(0deg);}
    50%{filter: hue-rotate(90deg);}
    100%{filter: hue-rotate(240deg);}
  }
  /* FOOTER ANIMATION END */
  footer .social-media{
    font-size: 1.2em;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
  }
  /* FOOTER ANIMATION END */