*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}
hr{     border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
body{
    background-color: black;
}
/* HEADER */
header{
    margin: 20px 20px 20px 10vw;
    display: flex;
    justify-content: space-between;
}
header h1{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
header ul{
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}
header ul li{
    font-size: 1.2em;
    font-weight: bold;
}
header ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
header ul li a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 640px) {
    header{
        display: block;
        margin: 20px 5px 20px 5px;
    }
    header h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    header ul{
        width: 100%;
    }
}

/* HEADER Animation START */
@keyframes  deep-animation{
    0%{color: white;}
    10%{color: rgb(133, 133, 133);}
    20%{color: white;}
    30%{color: rgb(255, 255, 255);}
    40%{color: white}
    50%{color: white}
    60%{color: rgb(103, 103, 103)}
    70%{color: white}
    80%{color: white}
    90%{color: rgb(122, 122, 122)}
    100%{color: rgb(255, 255, 255)}

}
@keyframes analyser-animation {
    0%{color: rgb(0, 255, 0);}
    50%{color: red;}
    100%{color: rgb(132, 0, 255);}
}
.deep{
    animation-name: deep-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 2.9, 0,-1.63);
}
.analyser{
    animation-name: analyser-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-timing-function: linear;
}
/* HEADER ANIMATION END */
/* header end */
/* main start */
.main{
  margin: 40px 20px 40px 20px;
  display: flex;

}
aside{
  border-right: 1px solid rgb(143, 143, 143);
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
aside>h2{
  text-align: center;
}
main{
   display: flex;
   flex-direction: column;
   width: 65%;
   text-align: center;
}
main>h2{
  text-align: center;
}
@media screen and (max-width: 500px) {
  .main{
    flex-direction: column-reverse;
  }
  main{
    display: flex;
    width: 100%;
  }
  aside{
    border: none;
    width: 100%;
  }
}
/* main end */
/* Footer Start */
footer {
    background-color: #000000;
    color: #fff;
    margin: 40px 0 60px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  @media (max-width: 600px) {
    .footer {
      font-size: 14px;
    }
  }
  /* Footer Animation START*/
  #footer-img{
    margin: 0 auto;
    display: block;
    height: 140px;
    animation-name: footer-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
  }
  @keyframes footer-animation {
    0%{ filter: hue-rotate(0deg);}
    50%{filter: hue-rotate(90deg);}
    100%{filter: hue-rotate(240deg);}
  }
  /* footer Animation end */
  .footer-start{
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px 20px 20px;
  }
  .footer-nav{
    width: 50%;
    height: 130px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
  }
  .footer-nav ul a{
    text-decoration: none;
  }
  .footer-nav ul a:hover{
    text-decoration: underline;
  }
  .footer-nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
  }
  .social-media{
    margin-bottom: 20px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  /* FOOTER ANIMATION END */